@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-mono antialiased uppercase;
}

.scanline {
  width: 100%;
  height: 2px;
  background: rgba(0, 255, 65, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  pointer-events: none;
  animation: scan 8s linear infinite;
}

@keyframes scan {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100vh);
  }
}